<nav>
  <ul>
    <form action="result_page" method='post'>
  Enter search keywords:
  <input type="text" name="jobsearch">  
  Enter Location:
   <input type="text" name="location">  
  <input type="submit" value="Search">
</form>
  </ul>
</nav>